@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FF385C;
  --color-secondary: #460479;
  --color-tertiary: #92174D;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F7F7F7;
  --color-bg-primary-hover: #F7F7F7;
  --color-border-grey: rgba(0, 0, 0, 0.15);
  --color-text-primary: #222222;
  --color-text-secondary: #6A6A6A;

  --font-primary: "Nunito", "sans-serif";

  --shadow-search: 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  --breakpoint-3xl: 100rem;
  --breakpoint-4xl: 115rem;
}

html, body {
  font-family: var(--font-primary);
}

.swiper-pagination-bullet {
  background-color: var(--color-bg-primary-hover);
  width: 6px;
  height: 6px;
  margin: 0 2px 0 2px !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-bg-primary);
  opacity: 1;
}