@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FF385C;
  --color-secondary: #460479;
  --color-tertiary: #92174D;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F7F7F7;
  --color-bg-primary-hover: #F7F7F7;
  --color-border-grey: rgba(0, 0, 0, 0.15);
  --color-text-primary: #222222;
  --color-text-secondary: #6A6A6A;

  --font-primary: 'Nunito', sans-serif;

  --shadow-theme:0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  --shadow-theme-hover: 0px 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  --shadow-dashboard-card:  rgba(183, 43, 70, 0.24) 0px 1px 4px;

  --breakpoint-3xl: 100rem;
  --breakpoint-4xl: 115rem;

  --padding-header: "calc(100vw - 100%)";

  --shadow-search: 0 6px 20px 0 rgba(0, 0, 0, 0.1);

}

html, body {
  font-family: var(--font-primary) !important;
}

a, a:hover, a:focus {
  color: var(--color-text-primary);
}

.swiper-pagination-bullet {
  background-color: var(--color-bg-primary-hover) !important;
  width: 6px;
  height: 6px;
  margin: 0 2px 0 2px !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-bg-primary) !important;
  opacity: 1;
}

.ant-typography-secondary {
  color: var(--color-text-secondary) !important;
}

.custom-steps-nav .ant-steps-item-title {
  color: #1890ff; /* Your desired color */
}

.leaflet-container {
  z-index: 0; /* Or something lower than your footer */
  position: relative; /* Important */
}


.ant-picker-panels {
  flex-direction: column;
  z-index: 100;
}

.ant-picker-suffix .anticon {
  color: #000; /* Tailwind's gray-500 */
}

@media (min-width: 600px) {
   .ant-picker-panels {
    flex-direction: row;
  }
}

.internal-label-rangepicker-wrapper {
  position: relative;
}

.internal-label-rangepicker .ant-picker-input {
  padding-top: 18px !important;
}

.internal-label {
  position: absolute;
  top: 11px;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  pointer-events: none;
  z-index: 1;
}

.internal-label-left {
  left: 12px;
}

.internal-label-right {
  left: 50%;
  margin-left: 8px;

}

.internal-label-rangepicker .ant-picker-input > input {
  font-size: 14px;
}

.internal-label-rangepicker .ant-picker-input {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.internal-label-select-wrapper {
  position: relative;
}

.internal-label-select .ant-select-selection-item, .internal-label-select .ant-select-selection-placeholder {
  padding-top: 20px !important;
  font-size: 15px;
  font-weight: 600 !important;
}

.internal-label-select-label {
  position: absolute;
  top: 11px;
  left: 12px;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  pointer-events: none;
  z-index: 1;
}

.ant-picker-active-bar{
  height: 0 !important;
}

.ant-image{
  width: 100%;
  height: 100%;
}
.custom-rangepicker input{
  font-size: 15px !important;
  font-weight: 700 !important;
}
.custom-rangepicker .ant-picker-range-separator {
  display: none;
}

.custom-input-number input{
  padding: 0 !important;
}

.slick-dots {
  z-index: -5 !important;
}

.slick-list {
  z-index: -10 !important;
}

.ant-checkbox-inner {
  width: 23px !important;
  height: 23px !important;
}